@font-face {
  font-family: 'Butler';
  font-style: normal;
  src: url('../fonts/Butler/Butler_Medium.otf') format('opentype');
}

@font-face {
  font-family: 'Butler';
  font-style: normal;
  font-weight: 300px;
  src: url('../fonts/Butler/Butler_Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Butler';
  font-style: normal;
  font-weight: 700px;
  src: url('../fonts/Butler/Butler_Bold.otf') format('opentype');
}
