@tailwind base;
@tailwind components;
@tailwind utilities;

.border-transparent {
  border-color: transparent;
}

.border-black {
  border-color: black;
}

@font-face {
  font-family: 'Karla';
  src: local('Karla'), url('../fonts/Karla/Karla-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Karla Bold';
  font-weight: 700;
  src: local('Karla Bold'),
    url('../fonts/Karla/Karla-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Butler';
  src: local('Butler'),
    url('../fonts/Butler/Butler_Medium.otf') format('opentype');
}

@font-face {
  font-family: 'Butler Bold';
  src: local('Butler Bold'),
    url('../fonts/Butler/Butler_Bold.otf') format('opentype');
}
