@tailwind base;
@tailwind components;
@tailwind utilities;

.border-transparent {
  border-color: transparent;
}

.border-black {
  border-color: black;
}

@layer base {
  @font-face {
    font-family: 'Butler';
    src: url('../fonts/Butler/Butler_Medium.otf') format('opentype');
  }

  @font-face {
    font-family: 'Butler';
    font-weight: 300px;
    src: url('../fonts/Butler/Butler_Regular.otf') format('opentype');
  }

  /* @font-face {
    font-family: 'Butler';
    font-weight: 700px;
    src: url('../fonts/Butler/Butler_Bold.otf') format('opentype');
  } */
}
